/* external style sheet for hw5.html */
body {
    background-color: antiquewhite;
    min-width: 760px;
    margin: 0;
}
.banner {
    background-color: rgb(255, 201, 128);
    height: 5rem;
}
h1 {
    margin: 0;
    color: #2929c4;
    line-height: 5rem;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
}
h4 {
    margin: 0 0 .8rem 0;
    color: darkred;
}
.home a {
    position: absolute;
    top: 0;
    left: 0;
    display: block; /* could also use ul to make these links behave as block elements */
    background-color: darkred;
    color: white;
    text-decoration: none;
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-bottom-right-radius: 1.5em;
}
.home a:hover {
    background-color: #cc4343;
    color: yellow;
}
.main {
    white-space: nowrap;
}
.main a {
    display: inline-block;
    background-color: #38346a;
    color: white;
    text-decoration: none;
    margin-top: 3em;
    width: 8rem;
    height: 1.8rem;
    line-height: 1.8em;
    text-align: center;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.main a:hover {
    background-color: #9da2e2;
    color: yellow;
}
.main p {
    display: inline;
    vertical-align: text-top;
    margin-left: 1em;
}
.container {
    margin: 3rem auto 0 auto;
    padding: 1.5rem;
    width: 33rem;
    background-color: #f5e2c8;
    border: 1px solid rgba(190, 183, 147, 0.5);
}
.container p {
    width: 32rem;
    font-style: italic;
    color: rgb(103, 103, 103);
    padding-top: .1rem;
}
.container_p2 {
    margin: 3rem auto 0 auto;
    padding: 3rem;
    width: 22rem;
    background-color: #f5e2c8;
    border: 1px solid rgba(190, 183, 147, 0.5);
}
.container_p2 p {
    font-style: italic;
    color: rgb(103, 103, 103);
}
form div {
    padding: .5rem;
}
#myForm input {
    margin-right: .5rem;
}
#myForm select {
    margin-right: .5rem;
}
.error { /* for styling jQuery validation error message */
    color: red;
    background-color: yellow;
    font-style: italic;
}
.container_p2 select {
    font-size: .9rem;
}
#errorMsg {
    margin-top: .5rem;
    padding: 0;
    font-size: 1rem;
    font-style: italic;
    color: red;
}


