/* external style sheet for all pages of Final Project */

body {
    background: url(background.jpg), white; /* the background-color, white, must be listed last so it doesn't cover up image */
    font-family: "Lato", Helvetica, sans-serif;
    color: darkgray;
}
#wrapper {
    width: 80%;
    min-width: 960px;
    margin: 0 auto; /* top & bottom, left & right */
    box-shadow: 5px 5px 10px black;
}
#grid {
    display: grid;
    grid-template-columns: 12em auto;
}
h1 {
    background: url(sunset.jpg) no-repeat top right, #000033;
    font-family: Georgia, "Times New Roman", serif;
    color: white;
    height: 72px;
    line-height: 72px;
    margin: 15px 0 0 0; /* top, right, bottom, left */
    padding-left: .5em;
}
h2 {
    font-family: Georgia, "Times New Roman", serif;
    color: #3399cc;
    text-shadow: 2px 2px 3px black;
}
h3 {
    font-family: Georgia, "Times New Roman", serif;
    color: #000033;
    display: inline;
}
#images {
    float: left;
    width: 214px;
    height: 167px;
    margin-right: .5em;
    margin-bottom: 1em;
}
#nav {
    grid-area: 1/1/2/2; /* grid-row-start, rid-column-start, grid-row-end, grid-column-end */
    background-color: skyblue;
    font-weight: bold; /* will be inherited */
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
#nav a {
    text-decoration: none;
    font-size: 1.2em;
}
a:link {
    color: #000033;
}
a:visited {
    color: #344873;
}
a:hover {
    color: white;
}
#content {
    grid-area: 1/2/2/3;
    background-color: white;
}
#content ul {
    margin-left: 201px;
}
#content p {
    display: inline;
}
#contact {
    font-size: 90%;
    clear: left; /* clears float */
    margin-bottom: 1em;
}
#footer {
    font-size: 75%;
    font-style: italic;
    clear: left;
    margin-bottom: 0.5em;
}
span {
    color: #000033;
    font-weight: bold;
}
dt {
    font-weight: bold;
}
form {
    width: 15em;
    margin: 0 0 1em 1em;
}
form input {
    width: 100%;
    margin-bottom: 0.5em;
}
label {
    display: block;
    margin: .25em 0;
}
form div {
    position: relative;
    text-align:left;
}
input[type="submit"], input[type="reset"] {
    width: auto;
    margin-top: 1em;
    background: lightgray;
    padding: .5em;
}

/* animation - birdflight */
/* causes included element to move from the left side to the right side of the content and then stop at border of wrapper */
@keyframes birdflight
{
    0% {
        left:0%;
        opacity: 1;
    }
    100% {
        left:80%;
        opacity: 0;
    }
}
#animation {
    position: relative;
    animation-name: birdflight;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
